services:
  asa_main:
    container_name: asa_main
    image: ghcr.io/musclepr/ark_ascended_docker:latest
    restart: on-failure
    tty: true
    env_file:
      - ./.env.effective
    environment:
      SERVER_MAP: ${SRV_asa_main_MAP:-TheIsland_WP}
      SESSION_NAME: "${DOMAIN:-TEST} - The Island"
      SERVER_PORT: 7790
      QUERY_PORT: 27030
      AUTO_BACKUP_ENABLED: "true"
      AUTO_BACKUP_CRON_EXPRESSION: "0 3 * * *"
      AUTO_UPDATE_ENABLED: "true"
      AUTO_UPDATE_CRON_EXPRESSION: "0 4 * * 0"
      SLAVE_PORTS: "7791"
    volumes:
      - ../asa_server:/opt/arkserver
      - ../asa_backup:/var/backups
    ports:
      - "7790:7790/udp"
      - "27030:27030/udp"
    stop_grace_period: 60s

  asa_sub1:
    container_name: asa_sub1
    image: ghcr.io/musclepr/ark_ascended_docker:latest
    restart: on-failure
    tty: true
    env_file:
      - ./.env.effective
    environment:
      SERVER_MAP: ${SRV_asa_sub1_MAP:-Extinction_WP}
      SESSION_NAME: "${DOMAIN:-TEST} - Extinction"
      SERVER_PORT: 7791
      QUERY_PORT: 27031
      AUTO_BACKUP_ENABLED: "false"
      AUTO_UPDATE_ENABLED: "false"
      LOG_FILE: "ShooterGame_sub1.log"
    volumes:
      - ../asa_server:/opt/arkserver
      - ../asa_backup:/var/backups:ro # restore only
    ports:
      - "7791:7791/udp"
      - "27031:27031/udp"
    stop_grace_period: 60s
