node_modules
.next
.git
.env
.env.local
*.log
cluster/server
cluster/backups
cluster/players.json
cluster/.env.edit
cluster/.env.effective
src/app/ShooterGame
src/app/Engine
src/app/*.txt
src/app/*.so
src/app/*.ini
src/app/linux64
src/app/steamapps
