services:
  asa_main:
    container_name: asa_main
    image: ghcr.io/musclepr/ark_ascended_docker:latest
    restart: on-failure
    tty: true
    env_file:
      - ./default.cluster
      - ./default.main
      - ./.cluster
      - ./.main
    environment:
      SERVER_PORT: "${ASA_main_SERVER_PORT}"
      QUERY_PORT: "${ASA_main_QUERY_PORT}"
      SLAVE_PORTS: "${ASA_sub1_SERVER_PORT}"
    volumes:
      - ${HOST_CLUSTER_DIR:-.}/server:/opt/arkserver
      - ${HOST_CLUSTER_DIR:-.}/backups:/var/backups
    ports:
      - "${ASA_main_SERVER_PORT}:${ASA_main_SERVER_PORT}/udp"
      - "${ASA_main_QUERY_PORT}:${ASA_main_QUERY_PORT}/udp"
    stop_grace_period: 120s

  asa_sub1:
    container_name: asa_sub1
    image: ghcr.io/musclepr/ark_ascended_docker:latest
    restart: on-failure
    tty: true
    env_file:
      - ./default.cluster
      - ./default.sub1
      - ./.cluster
      - ./.sub1
    environment:
      SERVER_PORT: "${ASA_sub1_SERVER_PORT}"
      QUERY_PORT: "${ASA_sub1_QUERY_PORT}"
      LOG_FILE: "ShooterGame_sub1.log"
    volumes:
      - ${HOST_CLUSTER_DIR:-.}/server:/opt/arkserver
      - ${HOST_CLUSTER_DIR:-.}/backups:/var/backups:ro # restore only
    ports:
      - "${ASA_sub1_SERVER_PORT}:${ASA_sub1_SERVER_PORT}/udp"
      - "${ASA_sub1_QUERY_PORT}:${ASA_sub1_QUERY_PORT}/udp"
    stop_grace_period: 120s
